main {
  padding: 5vw 30px;
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;

  .loginForm {
    h2 {
      font-size: 50px;
      margin: 0;
      margin-bottom: 10px;
      font-weight: 400;
      color: gray;
      text-align: center;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 500px;

      input {
        flex-basis: 100%;
        padding: 10px;
        outline: none;
      }

      input {
        border-radius: 30px;
        border: 1px solid rgb(160, 160, 160);
        padding: 12px 20px;
        margin: 7.5px;
        max-width: 500px;
      }

      input[type='submit'] {
        color: white;
        background-color: rgb(48, 48, 48);
        font-size: 20px;
        width: 200px;
        flex-basis: 250px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

a {
  color: rgb(94, 94, 94);
}
