@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.mobile {
  display: none;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input {
    flex-basis: 100%;
    padding: 10px;
    outline: none;
  }

  input {
    border-radius: 30px;
    border: 1px solid rgb(207, 207, 207);
    padding: 12px 20px;
    margin: 7.5px;
  }

  input[type='submit'] {
    color: white;
    background-color: rgb(48, 48, 48);
    font-size: 20px;
    width: 200px;
    flex-basis: 250px;

    &:hover {
      cursor: pointer;
    }
  }
}

.error {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: rgb(255, 73, 73);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.success {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: rgb(135, 207, 0);
  border-radius: 10px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 900px) {
  .desktop {
    display: none !important;
  }

  .desktop * {
    display: none !important;
  }
  .mobile {
    display: block;
  }
}
