.cardContainer {
  max-width: 450px;
  width: 100%;

  .settings {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .message {
    padding: 5px 15px;
    background: #ffdd57;
    color: white;
    text-align: center;
  }
}
