.modal-card-foot {
    flex-wrap: wrap;
}

.iota-button-container {
    width: 100%;
    margin-top: 20px;
}

.better-iota-button {
    padding: 7.5px 20px;
    color: #2d2d2d;
    background: #ffd860;
    border-radius: 10px;
    border: 2px solid #3d3d3d;
    font-size: 1.2rem;
}

.better-iota-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 350px) {
    .better-iota-button {
        padding: 5px 10px;
        font-size: 1rem;
    }
}
