.aboutHeading {
  font-size: 1.25rem;
  color: #2d2d2d;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  padding: 5px 0 10px 0;
}

p a {
  font-weight: bold;
}

strong {
  padding-top: 20px;
}

ol {
  padding: 10px 0;
  padding-left: 30px;
  padding-bottom: 30px;
}

.aboutBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-30px);
  margin-top: 30px
}

.aboutBottom img {
  margin: 7px;
  height: 60px;
}

@media only screen and (max-width: 900px) {
  .aboutBottom .better-iota-button {
      display: block !important;
  }

  .aboutBottom {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about__links {
    display: flex;
    justify-content: center;
  }
}
