.memePage {
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  background: white;
  border-radius: 5px;

  .artist {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 10px;
      border-radius: 25px;
      height: 50px;
    }
  }

  .meme-img {
    width: 100%;
  }

  .tags {
    padding: 5px 30px;

    .tag {
      font-size: 20px;
      color: gray;
    }
  }

  .share {
    display: flex;
    margin-left: 20px;

    .meme-share-icon {
      margin: 0 5px;
    }
  }

}
