h1 {
  color: gray;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
}

label {
  display: block;
  width: 100%;
  margin-left: 25px;
  color: gray;
  margin-top: 15px;
}
