.user-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-info {
  width: 70vw;
  padding: 20px;
}

.user-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-data img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.user-data h2 {
  margin-left: 30px;
  color: white;
  font-size: 1.5rem;
}

.user-data .user-meta {
  color: #9f9f9f;
  margin-left: 30px;
}

.user-bio {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 15px;
  color: #fefefe;
}

@media only screen and (max-width: 900px) {
  .search-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    margin-bottom: 5px;
  }
  .search-container .meme-search {
    width: 70vw !important;
  }

  .search-container .better-iota-button {
    display: block !important;
    margin: 0 !important;
    margin-bottom: 7.5px;
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 350px) {
  .modal-card-foot .level .level-item {
    margin-right: 5px !important;
  }

  .modal-card-foot .level .svg-inline--fa  {
    height: 20px !important;
    width: 20px !important;
  }

  .modal-card-foot .flag svg {
    transform: translateY(-75px) translateX(75px) !important;
  }
}
